services:
  backend:
    build:
      context: ./backend
    container_name: backend
    env_file:
      - ./backend/.env 
    ports:
      - "3000:3000" #HOST_PORT : CONTAINER_PORT
    networks:
      - appnet
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "8080:80" #HOST_PORT : CONTAINER_PORT
    networks:
      - appnet
    restart: unless-stopped

networks:
  appnet:
    driver: bridge 