.analysis-container {
    max-width: 900px;
    margin: 0 auto;
    color: white;
}

.analysis-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
    background: #1a1a1a;
    border-radius: 12px;
    overflow: hidden;
}
.insight-card h4{
    font-size: 20px;
}
.analysis-table th, .analysis-table td {
    text-align: left;
    border-bottom: 1px solid #333;
}

.rank-1{
    background-color: rgba(0, 255, 0, 0.1);
}
.rank-2{
    background-color: rgba(32, 145, 238, 0.1);
}
.rank-3{
    background-color:  #444; ;
}

.rank-gain-1 { color: #4caf50; }
.rank-gain-2 { color: #ffeb3b; }
.rank-gain-2 { color: #ffffff; }

.insight-card {
    background: #111;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    border-left: 4px solid #444;
}

.insight-card.highlight {
    border-left-color: #4caf50;
}