.announcement-container {
    padding: 16px;
    border: 1px solid #e2e8f0;
    border-radius: 8px; 
    display: flex;
    gap: 1rem;
    line-height: 1.5; 
}
.announcement-header{
    display: flex;
     justify-content: space-between;
  align-items: flex-start;
}