nav .pagination{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-top: 20px;
}
nav .pagination .page-item{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    
}

nav .pagination .page-link {
    background-color: var(--dark-grey); 
    color: var(--bs-white);
    border: 1px solid var(--light-grey);
    text-decoration: none;
    transition: all 0.2s ease;
}

nav .pagination .page-link:hover {
    background-color: var(--white);
    border-color: var(--white);
    color: white;
}

nav .pagination .page-item.active .page-link {
    background-color: var(--white);
    border-color: var(--white);
    font-weight: bold;
}