.list-homecard{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This is what centers the group */
    gap: 5px;
    width: 100%;
    padding: 30px;
    background-color: var(--dark-grey);
    border-radius: 10px;
}

.container section label{
    font-style: bold;
    padding-left: 14px;
    font-size: 30px;
}