.search-group {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 16px;
    width: 100%;
    padding-bottom: 16px;
}

.left-filter-group {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.left-filter-group-top {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 15px;
    width: 100%;
}

.right-filter-group {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right-filter-group > .d-flex {
    display: flex;
    flex-direction: row !important;
    gap: 10px;
    align-items: flex-end;
}

.filter-item-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

.genre-width { 
    flex: 2; 
}

.small.fw-bold {
    white-space: nowrap;
    margin-bottom: 2px;
}

.btn-group .btn {
    padding: 4px 12px; 
    height: 38px; 
    line-height: 1.2;
    width: auto;
    flex: 0 0 auto; 
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    height: auto;
    width: fit-content;
}

.year-group {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.sortable{
    white-space: nowrap
}