.movies-outer-box{
    padding: var(--padding-5px);
    align-items: stretch; /* This forces columns to have equal height */
    gap: 10px;            /* Adds the "space between" the two boxes */
    padding: 10px;
}

.d-flex{
    gap: 5px;
}

.form-control{
    background-color: var( --global-color-background-3) !important; 
    color: var(--global-color-font-1) !important;

}

.form-control::placeholder{
    background-color: var( --global-color-background-3) !important; 
    color: var(--global-color-placeholder-1) !important;

}

.my-form{
    margin-bottom: 10px ;
}