:root {
  --red: #e50914;
  --global-color-font-1: white;
  --global-color-font-2: black;
  --global-color-background-1: white;
  --global-color-background-2: black;
  --global-color-background-3: #2f2f2f;
  --global-color-placeholder-1: rgba(255, 255, 255, 0.5);
  --black: #141414;
  --dark-grey: #181818;
  --light-grey: #2f2f2f;
  --border-radius: 12px;
  --padding-5px: 5px;
  --font-weight-1: 300;
  --font-type-1: normal;
  --font-type-2: italic;
}

body {
  margin: 0;
  padding: 0;
  /* Dark radial gradient for depth */
  background-attachment: fixed;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: var( --global-color-background-2);
  color: var(  --global-color-font-1);
}

.app-container{
    border: 1px solid black;
    border-radius: 30px;
    padding: var(--padding-5px);
    background: var(--dark-grey);
}

.table{
    border-collapse: separate; 
    border-spacing: 0;
    border-radius: 10px; /* Your desired radius */
    overflow: hidden;    /* This "clips" the inner cells to the rounded shape */
    border: 1px solid #333; /* Optional: defines the edge */
    background-color: var(--black);
}

.my-tr .my-th {
    background-color: #2f2f2f;
    margin-bottom: 5px;
    color: var(--global-color-background-1);
    font-weight: bold;
}

.my-tr .my-td {
    background-color: #2f2f2f;
    margin-bottom: 5px;
    color: var(--global-color-background-1);
}