name: Deploy to Hetzner

on:
  push:
    branches: [ main ] 
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3 
        with:
          host: ${{ secrets.HETZNER_HOST }}
          username: ${{ secrets.HETZNER_USER }}
          key: ${{ secrets.HETZNER_SSH_KEY }}
          script: |
            cd /root/big-data-lab/
            echo $PWD

            git fetch --all
            git reset --hard origin/main

            docker compose up -d --build --force-recreate
 
            docker image prune -f

            